<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/student/create}" method="post" th:object="${student}">
    <label>First name:</label><br>
    <input type="text" th:field="*{name}"/><br/>
    <label>Last name:</label><br>
    <input type="text" th:field="*{surName}"/><br/>
    <label>Course:</label><br>
    <input type="number" th:field="*{course}"><br/><br/>
    <button type="submit">Create student</button>
</form>
</body>
</html>