<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/car/update/{id}(id=${car.id})}" method="post" th:object="${car}">
    <label>First name:</label><br>
    <input type="text" th:field="*{name}"/><br/>
    <label>Engine Size Displacement:</label><br>
    <input type="number" th:field="*{engineSizeDisplacement}"/><br/>
    <label>Fuel Type</label><br>

    <select th:field="*{fuelType}">
        <option th:each="fuelType : ${T(lt.gerasimovas.springdemo.model.Fuel).values()}"
                th:value="${fuelType}"
                th:text="${fuelType}">
        </option>
    </select>
    <br/>
    <label>Weight:</label><br>
    <input type="text" th:field="*{weight}"><br/><br/>
    <button type="submit">Update car</button>
</form>
</body>
</html>