<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        table th{
            background-color: #9a9a0a;
        }
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table id="students">
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Course</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.id}">Id</td>
                <td th:text="${student.name}">Name</td>
                <td th:text="${student.surName}">Surname</td>
                <td th:text="${student.course}">Course</td>
                <td><a th:href="@{/student/delete/{id}(id=${student.id})}">Delete</a></td>
                <td><a th:href="@{/student/update/{id}(id=${student.id})}">Edit</a></td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/student/create}">Create new student</a>

</body>
</html>